<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="flex-column min-100-vh">
    <header class="hero">
        <nav>
            <a href="/" class="btn">Home</a>
            {{#if loggedIn}}
            <a href="/dashboard" class="btn">Dashboard</a>
            <button id="logout" class="btn">Logout</button>
            {{else}}
            <a href="/login" class="btn">Login</a>
            {{/if}}
      </nav>
      <h1 class="app-title">Maximo's Tech Blog</h1>
      </h1>
    </header>
    <main class="flex-row justify-flex-start">
      {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>