<section class="card card2 m-5">
  <h2 class="card-header">Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Body</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn btn2">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2 class="card-header m-5">Your Posts</h2>
  <ul class="list-style">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>