{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form card m-5">
  <h3 class="card-header text-uppercase text-c">Leave a comment?</h3>
  <div class="w-100">
    <textarea name="comment-body w-100"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn2">add comment</button>
    <button type="button" class="btn btn2 upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}